.episodeWrapper {
  background: rgb(99, 98, 98);
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  & button {
    z-index: 999;
  }
  &:hover {
    background: dimgray;
  }
}
