.episodesListWrapper {
  flex: 3;
  padding-bottom: 5rem;
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgb(78, 78, 78);
    box-shadow: inset 0 0 6px rgb(117, 117, 117);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  }
}

.podcastInfo {
  display: flex;
  background: rgb(99, 98, 98);
  padding: 1rem;
  margin: 0 1rem 1rem 0;
  border-radius: 1rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
}

.podcastImage {
  width: 96px;
  object-fit: contain;
}

.podcastTitle {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  min-height: 96px;
  margin: 0 1rem;
  & p {
    margin: 0;
    font-size: 14px;
  }
}

.episodesList {
  overflow: auto;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
